/******
Color Palette

--------Background Blues--------
Primary Blue: #3498db (Button)
Light Blue: #93c4e5 (Background)
Dark Blue: #246c96 (Button Hover)

-----------Accent Blues--------
Nice Blue: 3e5ff3 (Up Arrow)
Deep Blue:
-------------------------------

Grey: #95a5a6
------------------------------
Black: #ffffff (Text)
******/
@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand.ttf') format('truetype');
}
/********************************************
General
********************************************/
.general {
  font-family: 'Quicksand', sans-serif;
  background-color: #93c4e5;
}

.color1{
  background-color: red;
}

.color2{
  background-color: orangered
}
.color3{
  background-color: goldenrod
}
.color4{
  background-color: teal
}
.color5{
  background-color: blueviolet
}
.color6{
  background-color: magenta
}

/********************************************
Home Page
********************************************/
.banner{
  background-color: #93c4e5;
}

.banner h1{
  font-size: 48px;
  font-weight: 1000;
  text-align: center;
  padding: 2%;
  margin-bottom: 2%;
}

.banner i.up{
  font-size: 26px;
  font-weight: 10;
  text-align: center;
  padding-left : 2%;
  padding-right: 2%;
  padding-top: 0%;
  padding-bottom: 2%;
}

.banner i.down{
  font-size: 36px;
  font-weight: 10;
  text-align: center;
  padding-left : 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 0%;
}

.song-selection {
  margin-left: 3%;
  margin-right: 3%;
  padding: 10px;
  /* border: 1px solid #3498db; */
  /* border-radius: 10px; */
  /* background-color: #95a5a6; */
}

.song-selection .container {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 8%;
  padding: 10px;
  /* border: 1px solid #3498db; */
  border-radius: 0px;
  /* background-color: #95a5a6; */
}

.song-selection button {
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #246c96;
  border-radius: 24px;
  background-color: #3498db;
  font-size: 110%;
}

.song-selection button:hover {
  background-color: #246c96;
}
/********************************************
Song Page
********************************************/
.instrument{
    /* border : 1px solid #000000; */

  margin-left: 3%;
  margin-right: 3%;
  /* margin-bottom: 1%;  */
  /* border: 1px solid #3498db; */
  border-radius: 0px;
  position: absolute;
  bottom: 0;
  width: 94vw;
  height:24vh;
  display : flex;
  justify-content: center;
}


.instrument .container{
  width: 100vw;
  border : 1px solid #000000;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

.instrument .key{
  border : 1px solid #000000;
  /* position: relative; */
  /* border: 1px solid #000000; */
  width: 11vw;
  height: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0%;
  padding-left: 0%;
}

.instrument .container .circle h6{
  color:#000000;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  padding: 2%;
  margin-bottom: 2%;

}

.instrument i{
  font-weight: 100;
  font-size: 275%;
  color: #000000;
}

.instrument .circle {
  height: 100%;
  width: 100%;
  /* height: 90%; */
  /* background-color: #3498db; */
  border-radius: 50%;
  /* border : 1px solid #000000; */
  /* margin-bottom: 0%; */
  /* margin-right: 4%; */
  /* margin-left: 4%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interface{
  /* border: 1px solid #3498db; */
  border-radius: 0px;
  height: 20%;
  display : flex;
  flex-direction: column;
  justify-content: start;
  background-color: #3498db ;
}

.interface h6{
  color :#000000;
  font-size: 200%;
  font-weight: 900;
  text-align: center;
  padding: 1%;
}

.interface #timer{
  color :#000000;
  margin-left : 2%;
  font-size: 150%;
  font-weight: 500;
  text-align: left;
}
.interface #score{
  color :#000000;
  margin-right : 2%;
  font-size: 150%;
  font-weight: 500;
  text-align: right;
}

.interface .row{
  display : inline-flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.interface .container{
  /* border: 1px solid #3498db; */
}

/* .lines{
  height: 100%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
  border: 1px solid #3498db;
  border-radius: 0px;
  position: absolute;
  bottom: 0;
  width: 94%;
}

.lines .container{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.lines .container .line{
  width: 10px;
  height: 94%;
  background-color: #000000;
  margin-right: 4%;
  margin-left: 4%;
} */



.note .container{
  border : 1px solid #000000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0%;
  padding-left: 0%;
}

.note i{
  font-weight: 100;
  font-size: 275%;
  color: #000000;
}

.note .circle {
  position: absolute;
  border-radius: 50%;
  animation: fall 1.7s linear; 
  border: 3px solid #000000;

  /* width: 10%; */
  /* border-radius: 50%; */
  /* border : 1px solid #000000; */
  /* margin-bottom: 0%; */
  /* margin-right: 4%; */
  /* margin-left: 4%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%);  */
  /* border-radius: 50%; */
}
@keyframes fall {
  to {
    transform: translateY(80vh); /* Adjust falling distance as needed */
  }
}





